# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
*.swp

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
